<app-navbar></app-navbar>
<div class="container " style="margin-top: 5% !important;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="assets\images\lista.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tus Reservaciones</h5>
                    <p class="card-text">Acá podras encontrar tus reservaciones</p>
                    <a class="btn btn-warning float-end" (click)="verListaReservaciones()">Ver Reservaciones</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <img src="assets\images\reserva.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Reservar Aqui</h5>
                    <p class="card-text">Acá encontraras diferentes tipos de Areonaves.</p>
                    <a href="#" class="btn btn-warning float-end">Reservar</a>
                </div>
            </div>
        </div>
    </div>
</div>