<div class="container">
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd; border-radius: 60px;
    margin-top: 1%">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="assets\images\descarga.svg" alt="icon">
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <strong>
                                <h5>Home</h5>
                            </strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resavaciones"><strong>
                                <h5>Mis Reservas</h5>
                            </strong> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reservar"><strong>
                                <h5>Reservar</h5>
                            </strong> </a>
                    </li>
                </ul>
                <form class="row">
                    <div class="col-sm-8 mt-2">
                        <strong>
                            {{nombreUsuario}}
                        </strong>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-success" type="submit">
                            <i class="bi bi-person-bounding-box"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>